.request-container {
  background: #232526;
  background: -webkit-linear-gradient(to right, #232526, #414345);
  background: linear-gradient(to right, #232526, #414345);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-request-form {
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.3);
  height: 65%;
  width: 65%;
  border-radius: 20px;
  position: absolute;
}

.table-request-form:hover {
  transform: scale(1.05);
}

.input-request-box {
  display: flex;
  flex-direction: column;
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.request-form {
  position: relative;
}

h2 {
  color: white;
  margin-left: 2%;
  font-family: "Baloo Bhai 2", cursive;
  font-size: 25px;
}

label {
  color: white;
  font-family: "Baloo Bhai 2", cursive;
  margin-top: 1%;
}

.input-request {
  border-radius: 5px;
  background-color: lightgray;
  padding: 1%;
}

.btn-request {
  margin-top: 1vh;
  margin-left: 1.5%;
  border-radius: 10px;
  width: 10%;
  height: 5vh;
  background-color: green;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#btn-request {
  font-family: "Baloo Bhai 2", cursive;
  font-weight: 800;
  font-size: 15px;
  flex-wrap: wrap;
  word-wrap: break-word;
}
