.request-page-container {
  background-color: white;
  background-color: -webkit-linear-gradient(to right, #232526, #414345);
  background-color: linear-gradient(to right, #232526, #414345);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left 100% top 25%;
  background-image: url("https://res.cloudinary.com/brnl/image/upload/v1656587694/HelperDuck/stacked-waves-haikei_1_yoqghs.svg");
  padding: 1%;
  height: 100vh;
}

.request-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

.brack {
  width: 60%;
}

.angle-brack {
  height: 70vh;
  width: 200px;
  display: flex;
  margin-left: 1%;
  justify-content: flex-end;
}

.angle-brack1 {
  height: 70vh;
  width: 200px;
  margin-right: 1%;
  display: flex;
  justify-content: flex-start;
}

.table-request-form {
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.3);
  height: 65vh;
  width: 40vw;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f7;
}

.request-form {
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.input-box-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  height: 80%;
}

.input-request-box {
  display: flex;
  flex-direction: column;

  height: 40%;
  padding: 0 1.5%;
}

.create-title {
  margin-top: 2%;
  font-family: "Baloo Bhai 2", cursive;
  font-size: 50px;
  font-weight: 700;
}

label {
  font-family: "Baloo Bhai 2", cursive;
  margin-top: 1%;
}

.input-request {
  border-radius: 5px;
  border: 0.5px gray solid;
  padding: 1%;
}

.btn-request {
  width: 18%;
  padding: 10px;
  font-size: 18px;

  border: none;
  background-color: black;
  color: #fff;
  font-weight: bold;
  border-radius: 8px;
  background: rgba(0, 0, 0, 1);
  cursor: pointer;
  border: none;
}

#btn-request {
  font-family: "Baloo Bhai 2", cursive;
  font-weight: 800;
  font-size: 15px;
  flex-wrap: wrap;
  word-wrap: break-word;
}

.newrequest-button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 2%;
  padding: 0 1.5%;
}

.all-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 10%;
}
