.dashboard-wrapper {
  padding: 1%;
  width: 100vw;
  height: 100vh;
}

.inner-wrapper {
  display: flex;
}

.second-half-container {
  width: 50%;
  padding: 1% 2%;
}

.first-half-container {
  width: 50%;
  padding: 1% 2%;
}

.bottom-container {
  padding: 0 1%;
}

.outer-wrapper {
  margin-left: 8%;
  display: flex;
  flex-direction: column;
  padding: 0 1.5%;
}

.hello-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 50%;
}

.hello-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgba(201, 200, 200, 0.8);
  border-radius: 14px;
  min-height: 15vh;
  flex-wrap: wrap;
}

.hello {
  font-size: 2.6rem;
  font-family: "Baloo Bhai";
  word-wrap: break-word;
}

.hello-msg {
  font-size: 1rem;
  font-family: "Roboto";
}

.about-me-icon {
  position: relative;
}

.img-boy {
  display: flex;
  position: flex-end;
  right: -50px;
  top: -100px;
  width: 150px;
}

.dash-profile-pic {
  border: 1px solid #D54848;
}



@media screen and (max-width: 961px) {

  .inner-wrapper {
    flex-direction: column;
    width: 100%;
  }

  .first-half-container,
  .second-half-container {
    width: 95%;

    margin: auto;
    margin-bottom: 3%;
    padding: 2%;
    border: solid 0.5px gray;
    border-radius: 14px;
  }
}