* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*wraps all the video containers*/
.videos-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(https://res.cloudinary.com/brnl/image/upload/v1656587693/HelperDuck/blob-scene-haikei_1_oxjync.svg);
}



.user-2 {
  display: none;
}


.peers-video {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/*wraps my video-container and video-controls*/
.my-video-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}


/*generic container for MyVideo and PeersVideo*/
.video-container {
  background-color: black;
  width: 720px;
  height: 480px;
  display: flex; 
  z-index: 1;
  display: block;
  border-radius: 1%;
}

/* .smallFrame {
  
  top: 20px;
  left: 20px;
  border-radius: 2px;
  z-index: 100;
} */
/*wraps buttons*/
.video-controls {
  position: relative;
  bottom: 2.5em;
  z-index: 2;
  align-items: center;
  display: flex;
  justify-content: center;
}

.video-btn {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  margin: 0.5em;
  width: 2.2em;
  height: 2.2em;

}


@media screen and (max-width: 600px) {
  .smallFrame {
    height: 80px;
    width: 120px;
  }

  .video-controls {
    height: 20px;
    width: 20px;
  }
  
  .videos-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://res.cloudinary.com/brnl/image/upload/v1656587693/HelperDuck/blob-scene-haikei_1_oxjync.svg);
  }
}