.register {
  /* background-image: url("/Users/fernandarodrigues/Codeworks/HelperDuckClient/src/mocks/pexels-armando-are-3759364.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 100%; */
  /* height: 100vh;
  width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2887px;
  height: 3850px;
  left: -574px;
  top: -1475px;
  background: url("/Users/fernandarodrigues/Codeworks/HelperDuckClient/src/mocks/pexels-andre-moura-2764989.jpg");
  opacity: 0.75;
  /* border: red solid;
  background-color: #161620;
  opacity: 85%; */
}

.register__container {
  border: red solid;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  padding: 30px;
}

.register__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}

.register__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
}

.register__google {
  background-color: #4285f4;
}

.register div {
  margin-top: 7px;
}
