.register {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 2887px;
  height: 3850px;
  left: -574px;
  top: -1475px;
  background: url("/Users/fernandarodrigues/Codeworks/HelperDuckClient/src/mocks/pexels-andre-moura-2764989.jpg");
  opacity: 0.75;
}

.register__container {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #dcdcdc;
  background-color: transparent;
  margin-right: 40%;
}

.register__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 20px;
  border-color: transparent;
}

.register__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: black;
}

.register__google {
  background-color: #4285f4;
}

.register div {
  margin-top: 7px;
}
