.IncomingRequest-wrapper {
  /* the width and the margin should be changed after all components are made */
  margin: 20px 0;
  max-height: 240px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: #f5f5f7;
  border-radius: 14px;
  font-family: "Roboto", sans-serif;
  margin-right: 1%;
  min-height: 255px;
}

.info-container{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  }



.duck-icon {
width: 20px;
height: 20px;
margin-right: 5px;
}

.fire-icon {
  width: 20px;
  height: 20px;

  margin-right: 2px;
}

.picture-container {
  margin: 0 15px 15px 0;
}
.profile-pic {
  width: 80px;
  border-radius: 12px;
}

.profile-info-container {
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.subject {
  font-size: 16px;
  font-weight: bold;
  font-family: "Baloo Bhai";
}

.user {
  font-size: 13px;
}

.avg-tip,
.avg-score {
  font-size: 13px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.IncomingRequest-description{

  max-height:100px;
  word-wrap: break-word;
  overflow-y: scroll;
 
}
.IncomingRequest-description::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.IncomingRequest-description::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

.IncomingRequest-description::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}

/* ########  BUTTONS  ########### */
.buttons-container{
  display: flex;
  flex-direction: column;
  margin-left: 25px;
 
}
.accept-button {
  font-size:15px;
  font-family:Verdana;
width: 90px;
  height:40px;
  color:#fff;
  font-weight:bold;
  border-radius: 8px;
  background: rgba(0, 0, 0, 1);
  cursor: pointer;
  border: none;
  margin: 0px 0px 15px 0px;
}

.accept-button:hover {
  background: rgba(0, 0, 0, 0.7);
}

.decline-button {
  font-size:15px;
  font-family:Verdana;
width: 90px;
  height:40px;
  color:#fff;
  font-weight:bold;
  border-radius: 8px;
  background: rgb(207, 47, 47);
  cursor: pointer;
  border: none;
  margin: 0px 0px 15px 0px;
}

.decline-button:hover {
background: rgba(207, 47, 47, 0.8)
}


@media only screen and (max-width: 400px) {
  .info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    }

    .IncomingRequest-wrapper{
      /* the width and the margin should be changed after all components are made */
      max-width: 350px;
      max-height: 500px;
    }

    .buttons-container{
    margin: 10px 0;
      
     
    }
    
}
