.carrousel-outer-container {
  margin-top: 2%;
}

.request-carrousel {

  display: flex;
  max-height: 24vh;
  min-height: 31vh;
  overflow-y: auto;
  width: 100%;
  flex-direction: column;

}


.request-carrousel::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.request-carrousel::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

.request-carrousel::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}