.navBar {
  background-color: black;
  display: flex;
  position: fixed;
  width: 8vw;
  height: 90vh;
  border-radius: 20px;
}

/* .navBar-icons {
  display: inline-block;
  height: 100%;
} */

.navBar-icons {
  position: relative;
  height: 95%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}

/* li {
  padding-left: 2.5vw;
  padding-top: 4vh;
  padding-bottom: 6vh;
} */

.icons {
  position: relative;
  width: 100%;
}
