.navBar {
  background-color: black;
  display: flex;
  position: fixed;
  width: 8vw;
  height: 90%;
  margin-left: 5%;
  margin-top: 1%;
  border-radius: 20px;
}

/* .navBar-icons {
  display: inline-block;
  height: 100%;
} */

.navBar-icons {
  height: 100%;
  margin-left: 1vw;
  height: 95%;
  width: 2vw;
}

li {
  padding-left: 2.5vw;
  padding-top: 4vh;
  padding-bottom: 6vh;
}

#logo-navBar {
  padding-left: 1vw;
}
