.profileInformation-containers {
  margin-left: 2%;
  position: relative;
  font-family: "Roboto", sans-serif;
  height: 100px;
  overflow-y: hidden;
  padding: 2%;
  width: 80%;
}

.technologiesContainer {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
  margin-top: 2px;
  height: fit-content;
}

.technologyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
  height: fit-content;
  margin-right: 20px;
}

.technologyIcons {
  /* width: 30%; */
  width: 30px;
  /* height: 40px; */
}

.informationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
  height: fit-content;
}


.single-review-outer-container {
  max-height: 16vh;
  overflow: auto;

}

.single-review-outer-container::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.single-review-outer-container::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

.single-review-outer-container::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
}




.review-word {
  font-size: 20px;
  margin: auto;
  font-family: "Baloo Bhai";
  width: 80%;

}