.single-review-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto 3% auto;
  min-height: 15vh;
  border-radius: 14px;
  padding: 2%;
  background-color: rgba(201, 200, 200, 0.8);
  box-shadow: 0.5px 2px 5px -0.2px rgb(0 0 0 / 21%), 1.8px -0.1px 2px -0.2px rgb(0 0 0 / 12%), 2.2px -2.1px 5px -0.5px rgb(219 213 213 / 25%), 2.3px -0.25px 5px -0.2px rgb(43 43 43 / 0%), 2.4px -1px 5px -0.3px rgb(255 246 246 / 9%), 2.4px 2px 5px -0.3px rgb(255 246 246 / 91%);
}


.review-text-container {
  padding: 2% 3%;
  word-wrap: break-word;
  overflow: auto;
}

.single-review-text {
  margin: 3% 0 0 0;
  width: 90%;
}

.review-pic {
  width: 80px;
  border-radius: 14px;
}

.single-review-title {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Baloo Bhai";
}

.single-review-user {
  font-size: 1rem;
  text-decoration: underline;
  margin: 3% 0 0 0;
}

.single-review-user:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.single-review-outer-wrapper {
  padding: 1%;
}